<div id="documentViewer" class="flexpaper_viewers" >
  this is paper
</div>
<script type="text/javascript">


       

    // function onDocumentLoaded(totalPages){
    //    alert(totalPages);
    // }
    // function getDocumentUrl(document){
    //     return "php/services/view.php?doc={doc}&format={format}&page={page}".replace("{doc}",document);
    // }

    // var startDocument = "Paper";

  



    // var myPDF = new PDFObject({
    //   url: PDFFile,
    //   id: "myPDF",
    //   width: "700px",
    //   height: "500px",
    //   pdfOpenParams: {
    //     navpanes: 1,
    //     statusbar: 1,
    //     view: "FitV",
    //     pagemode: "thumbs"
    //   }
    // }).embed("documentViewer");
</script>
