
<div id="documentViewer" class="flexpaper_viewer" style="width:700px;height:500px">this is paper</div>
<script type="text/javascript">


        $('#documentViewer').FlexPaperViewer(
            { config : {
                SWFFile : '/assets/ppt.swf',
                //SWFFile : '/vendor/flexpaper_2.2.3/docs/Paper.pdf.swf',
                //PDFFile : '/vendor/flexpaper_2.2.3/pdf/Paper.pdf',
                jsDirectory:'/vendor/flexpaper_2.2.3/js/',
                Scale : 0.6,
                ZoomTransition : 'easeOut',
                ZoomTime : 0.5,
                ZoomInterval : 0.2,
                FitPageOnLoad : true,
                FitWidthOnLoad : false,
                FullScreenAsMaxWindow : false,
                ProgressiveLoading : false,
                MinZoomSize : 0.2,
                MaxZoomSize : 5,
                SearchMatchAll : false,
                InitViewMode : 'Portrait',
                RenderingOrder : 'flash',
                StartAtPage : '',

                ViewModeToolsVisible : true,
                ZoomToolsVisible : true,
                NavToolsVisible : true,
                CursorToolsVisible : true,
                SearchToolsVisible : true,
                WMode : 'window',
                localeChain: 'en_US'
            }}
    );
    $('#documentViewer').on('onDocumentLoaded',function(e,eventInfo){
        console.log(eventInfo);
        console.log(e);
    });
    $('#documentViewer').on('onCurrentPageChanged',function(e){
        console.log(e);
    });

    // function onDocumentLoaded(totalPages){
    //    alert(totalPages);
    // }
    // function getDocumentUrl(document){
    //     return "php/services/view.php?doc={doc}&format={format}&page={page}".replace("{doc}",document);
    // }

    // var startDocument = "Paper";

  



    // var myPDF = new PDFObject({
    //   url: PDFFile,
    //   id: "myPDF",
    //   width: "700px",
    //   height: "500px",
    //   pdfOpenParams: {
    //     navpanes: 1,
    //     statusbar: 1,
    //     view: "FitV",
    //     pagemode: "thumbs"
    //   }
    // }).embed("documentViewer");
</script>
