<div style="display:table;">
	<div id="slickQuiz" {{bind-attr name="view.name"}} style="display:table-cell; vertical-align:middle;width:{{!orignW}};" >
		<h1 class="quizName">
			<!-- where the quiz name goes -->
		</h1>
		<div class="quizArea">
			<div class="quizHeader">
				<!-- where the quiz main copy goes -->
				<a class="button startQuiz" href="#">开始测试!</a>
			</div><!-- where the quiz gets built -->
		</div>
		<div class="quizResults">
			<h3 class="quizScore">
				您的成绩: <span><!-- where the quiz score goes --></span>
			</h3>
			<h3 class="quizLevel">
				<strong>评价:</strong> <span><!-- where the quiz ranking level goes --></span>
			</h3>
			<div class="quizResultsCopy">
				<!-- where the quiz result copy goes -->
			</div>
		</div>
	</div>

</div>
