
<div id="relativedDocumentViewer" class="flexpaper_viewer" style="width:700px;height:500px">
  <div class="col-sm-10">
  <h4>扩展阅读：</h4>
  <ul style="margin:10px;">
    <li><a href="#">支气管哮喘的健康教育</a></li>
    <li><a href="#">支气管哮喘的健康教育.pdf</a></li>
    <li><a href="#">健康教育</a></li>
    <li><a href="#">支气管哮喘</a></li>
    <li><a href="#">广州医科大学</a></li>

  </ul>

  </div>
</div>
<script type="text/javascript">
//     var PDFFile = "/assets/relatived.pdf";



//     var myPDF = new PDFObject({
//       url: PDFFile,
//       id: "myPDF",
//       width: "700px",
//       height: "500px",
//       pdfOpenParams: {
//         navpanes: 1,
//         statusbar: 1,
//         view: "FitV",
//         pagemode: "thumbs"
//       }
//     }).embed("relativedDocumentViewer");
</script>
