#quizContent {
  width: 700px;
  height: 500px;
  overflow: scroll;
}
.quizHeader {
  display: none;
}
.startQuiz {
  margin-top: 40px;
}
.tryAgain {
  margin: 20px 0;
}
/* clearfix */
.quizArea,
.quizResults {
  zoom: 1;
}
.quizArea:before,
.quizArea:after,
.quizResults:before,
.quizResults:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.quizArea:after,
.quizResults:after {
  clear: both;
}
ol.questions {
  margin-top: 20px;
  margin-left: 0;
  padding: 0 10px;
}
ol.questions li {
  margin-left: 0;
}
.question {
  width: 100%;
}
.question h3 {
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 23px;
  margin-left: 10px;
  color: #c38;
}
.question .questionCount {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}
.question .questionCount span {
  font-weight: bold;
}
ul.answers {
  margin-left: 20px;
  margin-bottom: 20px;
}
ul.responses li {
  margin: 10px 20px 20px;
}
ul.responses li p span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
ul.responses li.correct p span {
  color: #6C9F2E;
}
ul.responses li.incorrect p span {
  color: #B5121B;
}
.quizResults {
  margin: 0 auto;
  text-align: center;
}
.quizResults .quizResultsCopy {
  margin: 0 auto;
  text-align: center;
}
.quizResults .quizResultsCopy h5 {
  display: none;
}
.quizResults .questions {
  text-align: left;
}
.quizResults h3 {
  margin: 0;
}
.quizResults h3 span {
  font-weight: normal;
  font-style: italic;
}
.quizResultsCopy {
  clear: both;
  margin-top: 20px;
}
