<div class="container-fluid playerSection">
    <div class="row-fluid">
        <div class="span12 col-md-12">
<div class=" " >
    <h1>支气管哮喘的健康教育</h1>


    <p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">支气管哮喘是呼吸系统常见病和多发病。由于大气污染、吸烟、工业经济发展导致的理化因素
、生物因子吸入及人口老龄化等因素，使支气管哮喘的发病率明显增加，给社会、家庭及患者本人造成了极大伤害。因此正确认识支气管哮喘非常重要。此微课重点阐述了支气管哮喘的临床表现、诊断和鉴别诊断，不仅能使学生学到相关的理论知识，正确认识支气管哮喘，也可以使社会人群了解支气管哮喘，从自身做起（如戒烟、保护环境等），预防上述疾病</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>
    <hr/>
{{player-nav }}
    <hr/>
    </div>
</div>
</div>
    <div class="row-fluid">
        <div class="span4 col-md-4">
            <h4>简介：</h4>
            <p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">作品标题：支气管哮喘概论</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>

<p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">所属课程：内科学</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>

<p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">课程性质：专业课（必修）</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>

<p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">所属省份：广东省</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>

<p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">所属学校：广州医科大学</span><span style="mso-hansi-font-family:宋体"><o:p></o:p></span></p>
        </div>
        <div class="span4 col-md-4"> 
            <h4> 作者：</h4>
            <p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">参赛作者：钟南山</span><span style="mso-hansi-font-family:宋体"><span style="mso-tab-count:1">&nbsp; </span><span lang="ZH-CN">参赛方式：学校选拔</span><o:p></o:p></span></p>
            <p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">作者职称：教授</span><span style="mso-hansi-font-family:宋体"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp; </span></p>
            <p class="MsoPlainText"><span lang="ZH-CN" style="mso-hansi-font-family:宋体">作者学历：本科</span><span style="mso-hansi-font-family:宋体"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp; </span></p>
        </div>
        <div class="span4 col-md-4" >
            <h4>视频：</h4>
            <p><span lang="ZH-CN">播放次数：</span>19176<o:p></o:p></span></p>
            <p><span lang="ZH-CN">分享次数：</span>57<o:p></o:p></span></p>
            <p><span lang="ZH-CN">投票指数：</span>4.6<o:p></o:p></span></p>
        </div>
    </div>
   
        <div class="row-fluid">
            <div class="span12 col-md-12"> <hr />
                <div>
                    <h4>相关视频：</h4>
                </div>
                
            </div>
            
        </div>

</div>
